.logo_text{
     font-size: clamp(18px, 2.5vw, 32px);
     font-family: nico moji;
     color: white;
}

a{
     text-decoration: none;
     color: white;
    font-family: Sansation Light;
}

.bg-one_color{
     background-color: #191919;
}

mat-icon{
     color:white;
}

.text_one{
     color: white;
     font-family: Sansation Light;
}