/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading_one{
    font-family: nico moji;
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
    font-weight: bold;
    line-height: 63px;
}

body {
    font-family: sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
 background-color: black;
    padding: 40px 0;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    background-color: #673ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #512da8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 200px;
    height: 250px;
}

.hero-text {
    flex: 1;
    padding-left: 40px;
}


// .feature {
//     display: flex;
//     flex-direction:row;
//     justify-content: center;

// }

.feature img {
    width: 200px;
    height: 450px;
}

.benefits {
    margin-bottom: 40px;
}

.benefit-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.benefit-card {
    flex: 1;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.testimonials {
    margin-bottom: 40px;
}

.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.testimonial-card {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    max-width: 300px;
}

.testimonial-card p {
    text-align: left;
}

.author {
    font-weight: bold;
}



footer {
    background-color: #282c34;
    padding: 20px 0;
    text-align: center;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-text {
        padding-left: 0;
        margin-top: 20px;
    }

    .benefit-cards {
        flex-direction: column;
    }

    .benefit-card {
        margin-bottom: 20px;
    }

    .testimonial-cards {
        justify-content: flex-start;
    }

    .testimonial-card {
        margin-bottom: 20px;
    }
}
.heading_second{
     font-family: Sansation Light;
     font-size: 20px;
     font-size: clamp(16px, 2vw, 20px);
}

.second_one{
    font-family: nico moji;
    font-size: clamp(1rem, 2vw + 1rem, 40px);
    font-weight: bold;
  
}

.second_two{
    font-family: sans-serif;
    line-height: 28px;
    font-size: clamp(14px, 1.5vw, 16px);
}

// .img_one{
//     padding-top: 100px;
//     border-radius: 10px;
//     object-fit: cover;
// }
.img_radius{
    border-radius: 20px; 
}

.img-container {
    flex: 1;
    min-width: 500px; 
    position: relative;
  }
  
  .img-container img {
    width: 100%;
    object-fit:contain;
    height: 600px;
   
  }
  
  @media (max-width: 768px) {
    .img-container {
      min-width: 100%; 
      margin-bottom: 1rem; 
    }
  }
  
  .third_one{
    font-family: Sansation;
    color: white;
    letter-spacing: 1.12px;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: bold;
  }

  .createteam{
    font-family: sans-serif;;
    letter-spacing: 1.12px;
    font-size: clamp(20px, 2vw, 40px);
    // font-weight: bold;
  }

  .card_one{
    background-color: #B2B3FF;
  }

  .card_pre{
    background-color: #191919;
    color: white;
  }
  .card_pre_two{
    background-color: #6E40FF;
    color: white;
  }

  .card-img_one{
    object-fit:contain;
     height: 290px;
     width: 645px;
  }

  .text-style-one{
     font-family: Sansation;
     font-weight: bold;
     font-size: clamp(20px, 2vw, 40px);
     letter-spacing: 0.64px;
  }
  .text-style-second{
     font-family: Sansation Light;
     font-size: clamp(14px, 1.5vw, 16px);
     letter-spacing: 1.64px;
  }

  .img_one_one{
    height: 530px;
  }
  
  .cta {
    background-color: #000000;
    text-align: center;
}

  .bg-box_one{
    background-color:#6E40FF;
  }

  .image-container {
    width: 100%;
    max-width: 100%;
    height: auto; /* This makes the div adjust its height based on the content */
}

/* Style for the image */
.image-container img {
    width: 100%; /* Image will scale to fit the width of the container */
    height: auto; /* Height adjusts to maintain aspect ratio */
    display: block; /* Remove extra space below the image */
}


.text-one_design{
    font-size: clamp(18px, 2.5vw, 32px);
  font-family: Sansation;
//  line-height: 72px;

}

.text_author_commnet{
    font-size: clamp(12px, 1vw, 14px);
  font-family: Sansation;
}
.text_santaion{
 font-family: sans-serif;    
}
.third_two{
    font-family: sans-serif;
    line-height: 31px;
    color: white;
    font-size: clamp(14px, 1.5vw, 18px);
}
