<header>
    <div>
        <div class="text-center heading_one text-white">Connect with your <br> Friends Easily</div>
        <p class="text-center heading_second text-white">The best app for your communication</p>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="me-4">
                <mat-icon>apple</mat-icon> App Store
            </button>

            <button mat-raised-button color="accent">
                <mat-icon>android</mat-icon> Google Play
            </button>
        </div>
    </div>
</header>

<main>
    <section class="hero">

        <!-- <div class="hero-image">
            <img src="https://placehold.co/200x250" alt="Phone">
            <img src="https://placehold.co/200x250" alt="Phone">
        </div> -->
        <div class="image-container p-5">
            <img src="assets/phone.svg" alt="Home Img">
        </div>
    </section>

    <section class="bg-black py-3">
        <div class="px-5">
            <h2 class="second_one text-white">Send private messages</h2>
            <p class="second_two text-white">Simple secure and private messaging <br>
                free* worldwide.</p>
            <button mat-raised-button color="primary" class="download-button">
                Download <mat-icon>download</mat-icon>

            </button>
        </div>
    </section>


    <section class="d-flex flex-wrap justify-content-evenly bg-black px-5 pb-4">
        <div class="img-container me-2 pt-5 rounded">
            <img src="assets/girl.jpg" alt="Woman using phone" class="img-fluid img_radius">
        </div>
        <div class="img-container">
            <img src="assets/boy.jpg" alt="Man using laptop" class="img-fluid img_radius">
        </div>
    </section>


    <section class="benefits bg-black">

        <div class="py-4 bg-black">
            <div class="text-center third_one">Our new features</div>
        </div>

        <div class="py-4 bg-black">
            <div class="text-center third_two">Save every minute  our new features. we will <br>
                help you feel interlocutor next to you.  </div>
        </div>
   

        <div>
            <div class="d-flex flex-column flex-md-row p-5">
                <div class="col-md-6 mb-4  mb-md-0 me-2">
                    <mat-card appearance="outlined" class="card_one">
                        <div class="py-4 d-flex flex-column align-items-center">
                            <div class="py-4 createteam">Create your team</div>
                            <button mat-flat-button  class="text_sans_serif">
                                Get The App
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-center px-4">

                            <img  src="assets/Cutphone.svg" alt="phone" width="487"  class="img-fluid">
                        </div>

                       
                   
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column">
                        <mat-card class="mb-3 p-4 card_pre border-black" appearance="outlined">
                            <div class="d-flex flex-column  flex-md-row align-items-center text-center text-md-start">
                                <div class="mb-3 mb-md-0 me-md-4">
                                    <!-- Added margin-end for spacing on larger screens and margin-bottom on mobile -->
                                    <div class="py-4 mb-4 text-style-one">Voice Transcription</div>
                                    <div class="text-style-second">
                                        The new voice transcription feature helps you record messages while you’re on
                                        the move.
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <img class="card-img_one img-fluid img_radius" src="assets/girl.jpg" alt="Voice Transcription">
                                </div>
                            </div>
                        </mat-card>


                        <mat-card class="mb-3 p-4 card_pre_two border-black" appearance="outlined">
                            <div class="d-flex flex-column  flex-md-row align-items-center text-center text-md-start">
                                <div class="mb-md-0 me-md-4">
                                    <!-- Added margin-end for spacing on larger screens and margin-bottom on mobile -->
                                    <div class="py-4 mb-1 text-style-one">Voice Transcription</div>
                                    <div class="text-style-second mb-4">
                                        No language  barrier! Transalte
your messages into any language.
                                    </div>
                                    <div class="text-start">
                                        <button mat-raised-button class="text_sans_serif" >
                                             Get The App
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <img class="card-img_one img-fluid img_radius" src="assets/Transaltion.svg" alt="Voice Transcription">
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-4 bg-black text-center">
        <img src="assets/landingpagepart.svg" alt="" class="img-fluid img_radius">
    </section>
    <section class="testimonials">
        <div class="p-4">
            <div class="text-center third_one text-white">Thousands of users
talk about us</div>
        </div>
        <div>
           
            <div class="testimonial-cards justify-content-center">
            <div class="testimonial-cards justify-content-center">
                <div class="testimonial-card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3">
                            <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                        </div>
                        <div>
                            Dummy Data
                        </div>
                    </div>
                    <p class="text_author_commnet">“This app is amazing! It's so easy to use and connect with my friends and family." - 
                        <span class="author">John Doe</span>
                    </p>
                </div>
                <div class="testimonial-card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3">
                            <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                        </div>
                        <div>
                            Dummy Data
                        </div>
                    </div>
                    <p class="text_author_commnet">“This app is amazing! It's so easy to use and connect with my friends and family." - 
                        <span class="author">John Doe</span>
                    </p>
                </div>
                
                
                <div class="testimonial-card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3">
                            <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                        </div>
                        <div>
                            Dummy Data
                        </div>
                    </div>
                    <p class="text_author_commnet">“This app is amazing! It's so easy to use and connect with my friends and family." - 
                        <span class="author">John Doe</span>
                    </p>
                </div>
    
            </div>
            
            </div>
            <div class="testimonial-cards justify-content-center">
                <div class="testimonial-cards justify-content-center">
                    <div class="testimonial-card p-3">
                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                            </div>
                            <div>
                                Dummy Data
                            </div>
                        </div>
                        <p class="text_author_commnet">“This app is amazing! It's so easy to use and connect with my friends and family." - 
                            <span class="author">John Doe</span>
                        </p>
                    </div>
                    <div class="testimonial-card p-3">
                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                            </div>
                            <div>
                                Dummy Data
                            </div>
                        </div>
                        <p class="text_author_commnet">“This app is amazing! It's so easy to use and connect with my friends and family." - 
                            <span class="author">John Doe</span>
                        </p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>

    <section class="cta p-5 bg-black">
        <div class="bg-box_one border border-black p-4 rounded d-flex flex-column flex-md-row">
            <div class="text-white text-one_design flex-fill">
                <p>Download the app and chat with pleasure!</p>
                <div class="d-flex justify-content-center p-4">
                    <button mat-raised-button color="primary" class="me-4">
                        <mat-icon>apple</mat-icon> App Store
                    </button>
                    <button mat-raised-button color="accent">
                        <mat-icon>android</mat-icon> Google Play
                    </button>
                </div>
            </div>
            <div class="bg-white border rounded flex-fill">
                <div class="d-flex justify-content-center p-4">
                    <button mat-raised-button color="primary" class="me-4">
                        <mat-icon>apple</mat-icon> App Store
                    </button>
                    <button mat-raised-button color="accent">
                        <mat-icon>android</mat-icon> Google Play
                    </button>
                </div>
            </div>
        </div>
    </section>
    
</main>