<div class="bg-color">
    <div class="d-flex justify-content-between align-items-center px-4 py-2">

        <div class="d-flex justify-content-start align-items-center">
            <button mat-icon-button class="me-4">
                <mat-icon (click)="back()" class="maticon">arrow_back</mat-icon>
            </button>
            <div class="me-3">
                <img src="assets/boy.jpg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
            </div>
            <div class="text-white text_room">
                Room
                {{room}}
            </div>
        </div>
        <div class="d-flex">
            <button mat-icon-button class="me-4" (click)="openSnackBar()">
                <mat-icon class="maticon">videocam</mat-icon>
            </button>
            <button mat-icon-button class="me-4" (click)="openSnackBar()">
                <mat-icon class="maticon">call</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="maticon">more_vert</mat-icon>
            </button>
        </div>

    </div>
</div>

<!-- new code up side dont remove -->
<div class="chat-container bg-white">
    <!-- <div class="chat-header">
        <div style="float: left;margin-top: 2%;">
            <mat-icon (click)="back()">arrow_back</mat-icon>
        </div>
        <h2>Chat Room</h2>
    </div> -->
    <div class="chat-messages" #chatContainer >
        <ng-template [ngIf]="messages$ | async">
            <div *ngFor="let message of messages$ | async" class="messagess_style"
                [ngClass]="{'message-blue': message.user === user, 'message-gray': message.user !== user}" [ngStyle]="{'align-self': message.user === user? 'flex-end' : 'flex-start'}">
                <div class="border-bottom-custom" >
                    <span class="UserName">{{message.user|titlecase}}</span>
                </div>
                <div class="messagess">
                <span class="txt">{{ message.message | titlecase }}</span>
               
                <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span> <!-- Displaying the time -->
            </div>
            </div>
        </ng-template>
        <!-- <ng-template [ngIf]="messages$ | async">
            <div *ngFor="let message of messages$ | async" class="message"
                [ngClass]="{'sent': message.user === user, 'received': message.user !== user}" [ngStyle]="{'align-self': message.user === user? 'flex-end' : 'flex-start'}">
                <span class="UserName">{{message.user}}</span>
                <p style="text-align: left;">{{ message.message | titlecase }}</p>
                <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span> 
            </div>
        </ng-template> -->
    </div>

    <div class="chat-input">
        <input [(ngModel)]="newMessage" placeholder="Type Your message here" (keyup.enter)="sendMessage()" />

        <!-- File select button -->
        <input type="file" id="fileInput" style="display: none;" />
        <button mat-fab>
            <mat-icon>attach_file</mat-icon>
        </button>

        <!-- Send message button -->
        <button mat-fab (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>

</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Share Room</span>
    </button>
    <button mat-menu-item (click)="leaveChat()">
        <mat-icon>logout</mat-icon>
        <span routerLink="home"   >Leave Chat</span>
    </button>
</mat-menu>