<div class="chat-container">
    <div class="chat-header">
        <div style="float: left;margin-top: 2%;">
            <mat-icon (click)="back()">arrow_back</mat-icon>
        </div>
        <h2>Chat Room</h2>
    </div>
    <div class="chat-messages">
        <div *ngFor="let message of messages" class="message"
            [ngClass]="{'sent': message.isSent, 'received': !message.isSent}">
            <p>{{ message.text }}</p>
        </div>
    </div>
    <div class="chat-input">
        <input [(ngModel)]="newMessage" placeholder="Type your message..." (keyup.enter)="sendMessage()" />
        <button (click)="sendMessage()">Send</button>
    </div>
</div>