<div class="p-5">
<h4 mat-dialog-title class="text-center text_style mb-4">Please Join Room</h4>
<div mat-dialog-content class="d-flex px-2 flex-column align-items-center">
  <mat-form-field appearance="outline" class="w-100 mb-4">
    <mat-label>Room Code</mat-label>
    <input matInput placeholder="Enter room code">
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-evenly w-100">
  <button mat-raised-button color="primary" class="btn btn-primary" >Join Room</button>
  <button mat-raised-button color="accent" class="btn btn-secondary">Create Room</button>
</div>
</div>