<ng-template [ngIf]="!createRoomDailog">
  <div class="p-4">
    <h6 mat-dialog-title class="text-center text_style mb-3">Please Join Room</h6>
    <div mat-dialog-content class="d-flex px-2 flex-column align-items-center" [formGroup]="form">
      <mat-form-field appearance="outline" class="w-100 mb-4">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter username" formControlName="user">
        <mat-error *ngIf="user.invalid && user.touched">
          <ng-container *ngIf="user.hasError('required')">
            User Name is required.
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mb-4">
        <mat-label>Room Code</mat-label>
        <input matInput placeholder="Enter room code" formControlName="roomCode">
        <mat-error *ngIf="roomCode.invalid && roomCode.touched">
          <ng-container *ngIf="roomCode.hasError('required')">
            Room Code is required.
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-evenly w-100">
      <button mat-raised-button color="primary" class="btn btn-primary" [disabled]="form.invalid" (keyup.enter)="joinRoom()" (click)="joinRoom()">Join Room</button>
      <button mat-raised-button color="accent" class="btn btn-secondary" (click)="dialogRef.close()">Close</button>
      <!-- <button mat-raised-button color="accent" class="btn btn-secondary" (click)="createRoomDailog = true">Create Room</button> -->
    </div>
  </div>
</ng-template>
<!-- <ng-template [ngIf]="createRoomDailog">
  <div class="p-5">
    <h4 mat-dialog-title class="text-center text_style mb-4">Create Room</h4>
    <div mat-dialog-content class="d-flex px-2 flex-column align-items-center">
      <mat-form-field appearance="outline" class="w-100 mb-4">
        <mat-label>Enter Code</mat-label>
        <input matInput placeholder="Enter room code" title="Enter code by that you will join the room.">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-evenly w-100">
      <button mat-raised-button color="primary" class="btn btn-primary"(click)="createRoomDailog = false">Back</button>
      <button mat-raised-button color="accent" class="btn btn-secondary" >Create Room</button>
    </div>
  </div>
</ng-template> -->
